body {
    background-color: lavender;
}
h1 {
    font-family: helvetica;
    
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-shadow: 3px 3px skyblue
}
h2 {
    font-family: helvetica;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
p {
    font-family: helvetica;
}
li {
    font-family: helvetica;
}
a:link {
    color: mediumslateblue
    text-decoration: none;
}
a:visited {
    color: darkblue
}
a:hover {
    color: white
}
a:hover {
    font-style: italic
}
 table, th, td {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px
      }
        tr:nth-child(even) {
  background-color: skyblue;
}
              tr:nth-child(odd) {
  background-color: aliceblue;
}
ul: {
    list-style-image: url("Star.png")
}
li {
    margin: 10px 0px 0px 0px;
}
